		img {
			position: relative;
			width: 190px;
			height: 150px;
			border-radius: 100%;
			opacity: 0.6;
			transition: opacity 1s;
		}

		img:hover {
			opacity: 1;
		}


		p {
			text-indent: 20px;
			margin-top: 20px;
			margin-bottom: 10px;
		}

		a {
			color: white;
			text-decoration: none;
		}

		.main {
			width: auto;
			height: auto;
			background-color: #d1cef5;
			overflow-x: hidden;
		}

		.header {
			width: auto;
			height: auto;
			background-color: white;
			text-align: left;
			font-family: cursive;
			margin-bottom: 20px;
			padding: 5px;
		}

		.menu-left {
			width: 20%;
			height: auto;
			position: relative;
			float: left;
			background-color: #a8dbff;
			display: inline-block;
			margin-right: 19px;
			padding-top: 5px;
			padding-bottom: : 5px;
		}

		.table {
			position: relative;
			text-align: center;
			
		}

		.content {
			width: 77%;
			height: auto;
			position: relative;
			background-color: #ddffd9;
			display: inline-block;
			padding: 5px;
			margin-bottom: 10px;

		}

		.content-header {
			font-family: sans-serif;

		}

		.content-title {
			font-family: cursive;
			background-color: #bababa;
			border-radius: 50%;
			opacity: 0.8;
			padding: 5px;
			text-align: center
		}

		.footer {
			display: block;
			width: 100%;
			height: auto;
			float: left;
			background-color: white;
			margin-top: 20px;
			padding: 5px;
			text-align: justify;

		}

		.navbar{
			position: relative;
			float: right;
			transition: 1s
			background-color: #3d36c2;
		}

		.navbar:hover {

		}

		li {
			position: relative;
			display: inline-block;
			width: auto;
			height: auto;
			list-style: none;
			text-decoration: none;
			text-align: center;
			background-color: #bababa;
			padding: 10px;
			margin: 5px;
			transition: 1s;

		}

		li:hover {
			background-color: black;
			color: white;
			text-decoration: underline;

		}